*{
    margin: 0;
    background-image: url(eu.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}